
@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Don't Fret Music";
}

<table class="table" style="width: 100%" border="1">
    <tr>
        <th scope="col">
            Best Selling Products:
        </th>
    </tr>
    @foreach (var product in Model)
    {
        <tr id="row -@product.ProductID">
            <td>
                <a href="@Url.Action("Details", "Store", new { id = product.ProductID })">
                    <img class="img" alt="@product.ProductName" src="@Url.Content(product.ImagePath)" width="250" height="250" multiple />
                    <span>@product.ProductName</span>
            </td>
        </tr>
    }
</table>