@model IEnumerable<DFShop.Models.Category>

@{
    ViewBag.Title = "Main Store";
}

<h2>Browse Products by Category:</h2>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item active">@Html.ActionLink(category.CategoryName, "Browse", new { category = category.CategoryName })</li>
    }

</ul>